* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.a {
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

.form-group {
  margin-bottom: 1em;
}

.form-group .form-control {
  margin-top: 0.5em;
  padding: 1em;
  width: 100%;
}

.btn {
  border: 0;
  padding: 1em 2em;
  background-color: #226fe2;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
}

.btn-small {
  padding: 0.7em 1em;
  font-size: 0.7em;
}

.btn-delete {
  background-color: #ff5b5b;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table th,
.table td {
  padding: 0.5em;
}
